<!--Sean Klein 5575709-->


{% extends "base.html" %}
{% block content %}



<p>
  <br>
  All data was acquired via <a href="url">https://www.gapminder.org/data/</a>
  <br>
  <br>
  Sources in detail: <br>
  <ul>
    Child Mortality: Deaths of children younger than five per 1000 live births.
    <br>
    <a href="http://gapm.io/du5mr">http://gapm.io/du5mr</a>
    <br>
    <br>
    Income per person: Gross domestic product per person adjusted for differences in purchasing power (in international dollars, fixed 2011 prices, PPP based on 2011 ICP).
    <br>
    <a href="http://gapm.io/dgdppc">http://gapm.io/dgdppc</a>
    <br>
    <br>
    Total fertility rate: The number of children that would be born to each woman with prevailing age-specific fertility rates.
    <br>
    <a href="http://gapm.io/dtfr">http://gapm.io/dtfr</a>
  </ul>
</p>





{% endblock %}